body {
  background: beige;
  /* display: flexbox; */
}

.hide {
  display: none;
}

.clear {
  /* display: flexbox */
  background: bisque;
  /* flex-direction: column; */
  clear: both;
}
.left {
  float: left;
  width: 520px;
  height: 300px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/52/Basketball_court_dimensions.png);
  /* align-items: center; */
  /* border-left: 20px black; */
  border: 5px solid black;
}

.right {
  float: right;
  width: 520px;
  height: 300px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/52/Basketball_court_dimensions.png);
  background-size: auto;
  border: 5px solid black;
}

#reset-container,
h1 {
  background: rgb(134, 172, 172);
  text-align: center;
}
#reset-container {
  background: rgb(134, 172, 172);
  border: 5px solid black;
}
h2 {
  text-align: center;
  text-shadow: 2px 2px white;
  /* text-transform: capitalize; */
  /* background: white; */
  /* width: 40px; */
}

.goals {
  width: 150px;
  background: azure;
  position: relative;
  left: 190px;
  text-align: center;
  border: 1px solid black;
}
#teamone-shoot-button {
  position: relative;
  left: 230px;
  margin-top: 5px;
  border: 1px solid black;
}
#teamtwo-shoot-button {
  position: relative;
  left: 230px;
  margin-top: 5px;
  border: 1px solid black;
}
#TeamOneWins {
  position: relative;
  background: azure;
  width: 20px;
  height: 20px;
  left: 250px;
  text-align: center;
  border: 2px solid black;
}
#TeamTwoWins {
  position: relative;
  background: azure;
  width: 20px;
  height: 20px;
  left: 250px;
  text-align: center;
  border: 2px solid black;
}
#reset-button {
  margin-bottom: 20px;
}
